#ImageBox img {
	margin: 1%;
	width: 98%;
}

#Constrained {
	max-height: 100em;
	width: auto;
}

#Margined {
	margin: 10px;
}

#VerticalCentering {
	padding-top: 20%;
}

#Bolded {
  font-size: 200px;
}
