
.NavBar ul {
	list-style-type: none;
	background-color: pink;
	border: solid;
	border-color: blue;
	left: 0%;
	width: 100%;
	height: auto;
	position: fixed;
	margin-top: .25em;
}

.Icon {
	position: fixed;
	background-color: black;
	width: 3em;
	height: 3em;
	color: white;
	margin-top: -0.5em;
	margin-left: -0.5em;
}

.Items {
	margin-left: 4em;
}

.Items li {
	border-style: solid;
	display: inline;
	margin-left: 0.25em;
	font-size: 1.5em;
}

.Items li:hover {
	background-color: white;
}